---
import { FORM_ACTIONS, FORM_SUBJECTS } from '@pdcstrrss/ui';
import { getFeedById } from '@pdcstrrss/core';
import { LOGIN_API_URL } from '@/lib/useAuth';
import { ROUTES } from '@/lib/useRoutes';
import { getUserFromRequest } from '@/lib/useUser';
import Layout from '@/layouts/Layout.astro';
import { deleteFeed } from '@/lib/useFeeds.server';
import Form from '@/components/Forms/Form.astro';
import { logError } from '@/lib/useError';

const user = await getUserFromRequest(Astro);
if (!user) return Astro.redirect(LOGIN_API_URL);
const {
  params: { id },
  request,
  redirect,
} = Astro;
if (!id) return new Response('Missing id', { status: 404 });

let error: string | undefined = undefined;
if (request.method === 'POST') {
  try {
    await deleteFeed({ user, request, id });
    return redirect(ROUTES.feeds);
  } catch (err: any) {
    logError('deleteFeed', err);
    error = 'Unable to delete feed';
  }
}

const feed = await getFeedById(id, { userId: user.id });
if (!feed) return new Response('Feed not found', { status: 404 });
---

<Layout>
  <div class="page container container-md">
    <header class="page-header">
      <h1 class="page-header-title">Remove feed</h1>
    </header>
    <Form form={{ method: 'post' }} action={FORM_ACTIONS.DELETE} subject={FORM_SUBJECTS.FEED} error={error}>
      <div class="card clear-inner-space">
        <p>
          Are you sure you want to remove <strong>{feed?.title}</strong> from your list of feeds?
        </p>
        <p>This action will remove all episode data and preferences of this feed linked to your account.</p>
      </div>
      <div class="form-actions">
        <button class="button button-danger" type="submit" data-text-content-on-submit="Deleting feed...">Delete</button
        >
        <a class="button button-link" href={ROUTES.feeds}> Cancel</a>
      </div>
    </Form>
  </div>
</Layout>
