---
import { Form, FORM_ACTIONS, FORM_SUBJECTS } from '@pdcstrrss/ui';
import { getFeedById } from '@pdcstrrss/core';
import Page from '@/components/page/Page.astro';
import { ROUTES } from '@/lib/useRoutes';
import { getUserFromRequest } from '@/lib/useUser';
import Layout from '@/layouts/Layout.astro';
import { deleteFeed } from '@/lib/useFeeds.server';
import { logError } from '@/lib/useError';

const {
  params: { id },
  request,
  redirect,
} = Astro;

const user = await getUserFromRequest({ request });
if (!user) return redirect(ROUTES.login);

if (!id) return new Response('Missing id', { status: 404 });

let error: string | undefined = undefined;
if (request.method === 'POST') {
  try {
    await deleteFeed({ user, request, id });
    return redirect(ROUTES.feeds);
  } catch (err: any) {
    logError('deleteFeed', err);
    error = 'Unable to delete feed';
  }
}

const feed = await getFeedById(id, { userId: user.id });
if (!feed) return new Response('Feed not found', { status: 404 });
---

<Layout>
  <Page title="Remove feed" size="md">
    <Form
      form={{ method: 'post' }}
      action={FORM_ACTIONS.DELETE}
      subject={FORM_SUBJECTS.FEED}
      error={error}
      clientSideHandling={true}
    >
      <div class="card clear-inner-space">
        <p>
          Are you sure you want to remove <strong>{feed?.title}</strong> from your
          list of feeds?
        </p>
        <p>
          This action will remove all episode data and preferences of this feed
          linked to your account.
        </p>
      </div>
      <div class="form-actions">
        <button
          class="button button-danger"
          type="submit"
          data-text-content-on-submit="Deleting feed...">Delete</button
        >
        <a class="button button-link" href={ROUTES.feeds}> Cancel</a>
      </div>
    </Form>
  </Page>
</Layout>
