---
import { Form, FORM_ACTIONS, FORM_SUBJECTS } from '@pdcstrrss/ui';
import Layout from '@/layouts/Layout.astro';
import { getUserFromRequest } from '@/lib/useUser';
import { ROUTES } from '@/lib/useRoutes';
import { createFeed } from '@/lib/useFeeds.server';
import { logError } from '@/lib/useError';

const { request, redirect } = Astro;

const user = await getUserFromRequest({ request });
if (!user) return Astro.redirect(ROUTES.login);

let error: string | undefined = undefined;
if (request.method === 'POST') {
  try {
    await createFeed({ user, request });
    return redirect(ROUTES.feeds);
  } catch (err: any) {
    logError('createFeed', err);
    error = 'Unable to create feed';
  }
}
---

<Layout>
  <div class="page container container-md">
    <header class="page-header">
      <h1 class="page-header-title">Add feed</h1>
    </header>
    <Form
      form={{ method: 'post' }}
      action={FORM_ACTIONS.CREATE}
      subject={FORM_SUBJECTS.FEED}
      error={error}
      clientSideHandling={true}
    >
      <div class="form-group">
        <label for="url">RSS feed URL</label>
        <input
          id="url"
          type="url"
          name="url"
          required
          placeholder="https://example.com/feed"
        />
      </div>
      <div class="form-actions">
        <button
          class="button button-primary"
          type="submit"
          data-text-content-on-submit="Adding feed..."
        >
          Add feed
        </button>
        <a class="button button-link" href={ROUTES.feeds}>Cancel</a>
      </div>
    </Form>
  </div>
</Layout>
